@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Zecharia Barriga<br />
    Talamban, Cebu City<br />
    <abbr title="Phone">P:</abbr>
    192.168.0.1
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@back2school.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@back2school.com</a>
</address>