@{
    ViewBag.Title = "Home Page";
    <link href="../Content/Home.css" rel="stylesheet" type="text/css" />
}

<div class="main">
    <div class="bodycontainer">
        <br /><br />
        <h1 class="header1">Your Education is our Priority</h1>
        <p class="para1">
            Back2School is a school management website that allows students to<br>
            enroll to their chosen units, and to keep track of their study load.
        </p>
        <button class="getStarted" style="background-color: #00ad17; font-size: 25px; font-family: 'Poppins'; 
         padding-left: 18px; padding-right: 18px; margin-left: 100px; margin-bottom: 50px; " onClick="window.location.href='/User/UserEntryForm'">
            Get Started
        </button>
    </div>
    
</div>