
@{
    ViewBag.Title = "FacultyEntryCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="../Content/StudentEnroll.css" rel="stylesheet" type="text/css" />
}
<div class="main">
    <div class="unitscontainerfac">
        <center>
            <label class="pagename" htmlFor="chk" aria-hidden="true">
                Advisory
            </label>

            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC1'">CIS2101</button>
            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC2'">CIS2102</button>
            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC3'">CIS2103</button>
            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC4'">CIS2104</button>
            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC5'">CIS2105</button>
            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC6'">CIS2106</button>
            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC7'">EDM2</button>
            <button class="bottin" onClick="window.location.href='/Faculty/FacultyC8'">TFL</button>
        </center>
    </div>
</div>