
@{
    ViewBag.Title = "FacultyC8";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] TableHeaders = new string[] { "C8", "Student ID" };
}
<h2>TFL Advisory</h2>
<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @foreach (var head in TableHeaders)
                {
                    <th>
                        @head
                    </th>
                }
            </tr>
        </thead>
        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                    <tr>
                        <td>@Data.c8</td>
                        <td>@Data.stud_id</td>
                    </tr>
                }
            }
        }
    </table>
</div>