
@{
    ViewBag.Title = "UserAddForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="../Content/Register.css" rel="stylesheet" type="text/css" />

}
<h2>UserAddForm</h2>

<div class="main">
    <div class="login">
        <br /><br />
        <label class="pagename" htmlFor="chk" aria-hidden="true">
            Register
        </label>
        <form method="post" action="UserAddCode">

            <input class="inp"
                   
                   type="email"
                   name="email"
                   placeholder="Email"
                   required/>

            <input class="inp"
                   
                   type="password"
                   name="password"
                   placeholder="Password"
                   required/>

            <button class="btn">Sign-up</button>
        </form>
        <a class="reg" href="/User/UserEntryForm">
            Already have an account?
        </a>
    </div>
</div>
